<a href="https://colab.research.google.com/github/dayananikol/CCDATS1L_EXERCISES_COM221ML/blob/main/Exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

In this activity, you will work with the New York City Airbnb Open Data—a popular, messy, and highly realistic dataset used by data analysts and data scientists around the world. The dataset includes thousands of Airbnb listings along with details about hosts, locations, prices, reviews, and more.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Pmq3Gv7y7z_2Xun-OqMIk43kd5u0TXEatw&s"/>


To guide your work, you will follow the 6-Step Data Wrangling Process, a professional workflow used in industry:

- Discovering. Become familiar with the data by exploring its structure and observing patterns.

- Structuring. Fix issues related to format, column types, indices, and duplicated records.

- Cleaning. Handle missing values, outliers, and inconsistencies so the dataset becomes trustworthy.

- Enriching. Add new features, aggregate information, and enhance the dataset for deeper insights.

- Validating. Apply rule-based checks to ensure the data meets quality standards.

- Publishing. Export and prepare the cleaned dataset for downstream analysis or reporting.
Throughout this exercise, you will answer questions and fill in code cells based on these six steps. You will mimic what professional data scientists do when preparing data for business intelligence dashboards, machine learning models, or exploratory analysis.

In [107]:
import kagglehub
import os
import pandas as pd
import numpy as np

# Download latest version
path = kagglehub.dataset_download("dgomonov/new-york-city-airbnb-open-data")

print("Path to dataset files:", path)

if os.path.isdir(path):
  print(True)

contents = os.listdir(path)
contents

mydataset = path + "/" + contents[0]
mydataset


df = pd.read_csv(mydataset)

Using Colab cache for faster access to the 'new-york-city-airbnb-open-data' dataset.
Path to dataset files: /kaggle/input/new-york-city-airbnb-open-data
True

## A. Discovering

Display the first 10 rows

In [108]:
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

Display the column names:

In [109]:
display(df.columns)

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

Display the dataframe shape:

In [110]:
df.shape

(48895, 16)

Identify the numerical features:

In [111]:
numerical_features = df.select_dtypes(include=np.number).columns
display(numerical_features)

Index(['id', 'host_id', 'latitude', 'longitude', 'price', 'minimum_nights',
       'number_of_reviews', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object')

Identify the categorical features

In [112]:
categorical_features = df.select_dtypes(include='object').columns
display(categorical_features)

Index(['name', 'host_name', 'neighbourhood_group', 'neighbourhood',
       'room_type', 'last_review'],
      dtype='object')

What are the top 5 questions this dataset might help answer?

In [113]:
# 1. Which neighborhoods have the highest average prices and which have the lowest?
# 2. What listings offer lowest prices thats's affordable and reasonable for long term stay?
# 3. What are the most common room types in different neighborhood?
# 4. What is the average price per room type?
# 5. Which neighbourhoods see the highest review rates (reviews_per_month)?

## B. Structuring

Check if the dataset has proper column types

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

Check if the dataset has index issues

In [115]:
print(f"Is the index unique? {df.index.is_unique}")
if not df.index.is_unique:
    print("There are duplicate indices.")
    # Optionally, you could display the duplicate indices:
    # display(df[df.index.duplicated(keep=False)])
else:
    print("No duplicate indices found.")

Is the index unique? True
No duplicate indices found.

Check if the dataset has duplicated rows

In [116]:
df.duplicated().sum()

np.int64(0)

Convert columns to correct types (e.g., dates → datetime).

In [117]:
df['last_review'] = pd.to_datetime(df['last_review'])

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  datetime64[ns]
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 6.0+ MB

Identify at least one structural issue and describe how to fix it.

In [119]:
# columns name, host_name, last_review, reviews_per_month has missing values
# for name and host_name, rows with missing values is okay to stay because are other attributes alongside this columns thats still has importnant use
# while last_review is okay to stay, and reviews per month if missing will be filled with 0

## C. Cleaning

Check for missing values

In [120]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Check for outliers in `minimum_nights`

In [121]:
# Show all rows when printing
pd.set_option('display.max_rows', None)

# Display statistics and value counts
print(df['minimum_nights'].describe())
print("\nValue Counts:\n", df['minimum_nights'].value_counts().sort_index())
print("\nNumber of unique values:", df['minimum_nights'].nunique())

count    48895.000000
mean         7.029962
std         20.510550
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max       1250.000000
Name: minimum_nights, dtype: float64

Value Counts:
 minimum_nights
1       12720
2       11696
3        7999
4        3303
5        3034
6         752
7        2058
8         130
9          80
10        483
11         33
12         91
13         54
14        562
15        279
16         18
17         14
18         28
19          8
20        223
21        135
22          8
23          8
24         14
25         82
26         16
27         17
28        203
29        340
30       3760
31        201
32          8
33          2
35         15
36          1
37          1
39          1
40         13
42          1
43          1
44          2
45         32
47          2
50         14
53          2
55          4
56          2
58          1
59          6
60        106
62          3
65          1
68          1
70          8
74          1
75          4
80          9
85          1
87          1
88          2
90        104
91          3
93          2
98          1
99          2
100        15
105         2
110         3
114         1
115         2
120        28
122         1
133         2
134         1
150         6
153         1
160         2
175         1
180        43
181         2
182         1
183         1
184         1
185         1
186         1
198         1
200         4
210         2
222         1
225         1
240         3
250         1
265         1
270         2
275         1
299         1
300         6
354         1
360         5
364         1
365        29
366         1
370         1
400         1
480         1
500         5
999         3
1000        1
1250        1
Name: count, dtype: int64

Number of unique values: 109

Check for invalid values (e.g., price ≤ 0)

In [122]:
print((df['price'] <= 0).sum())

11

Apply a missing-value strategy (drop, fill, or flag)

In [123]:
df = df[df['price'] > 0].copy()

In [124]:
df[df['name'].isnull()]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2854,1615764,NaN,6676776,Peter,Manhattan,Battery Park City,40.71239,-74.01620,Entire home/apt,400,1000,0,NaT,NaN,1,362
3703,2232600,NaN,11395220,Anna,Manhattan,East Village,40.73215,-73.98821,Entire home/apt,200,1,28,2015-06-08,0.45,1,341
5775,4209595,NaN,20700823,Jesse,Manhattan,Greenwich Village,40.73473,-73.99244,Entire home/apt,225,1,1,2015-01-01,0.02,1,0
5975,4370230,NaN,22686810,Michaël,Manhattan,Nolita,40.72046,-73.99550,Entire home/apt,215,7,5,2016-01-02,0.09,1,0
6269,4581788,NaN,21600904,Lucie,Brooklyn,Williamsburg,40.71370,-73.94378,Private room,150,1,0,NaT,NaN,1,0
6567,4756856,NaN,1832442,Carolina,Brooklyn,Bushwick,40.70046,-73.92825,Private room,70,1,0,NaT,NaN,1,0
6605,4774658,NaN,24625694,Josh,Manhattan,Washington Heights,40.85198,-73.93108,Private room,40,1,0,NaT,NaN,1,0
8841,6782407,NaN,31147528,Huei-Yin,Brooklyn,Williamsburg,40.71354,-73.93882,Private room,45,1,0,NaT,NaN,1,0
11963,9325951,NaN,33377685,Jonathan,Manhattan,Hell's Kitchen,40.76436,-73.98573,Entire home/apt,190,4,1,2016-01-05,0.02,1,0
12824,9787590,NaN,50448556,Miguel,Manhattan,Harlem,40.80316,-73.95189,Entire home/apt,300,5,0,NaT,NaN,5,0
13059,9885866,NaN,37306329,Juliette,Manhattan,Chinatown,40.71632,-73.99328,Private room,67,4,0,NaT,NaN,1,0
13401,10052289,NaN,49522403,Vanessa,Brooklyn,Brownsville,40.66409,-73.92314,Private room,50,3,3,2016-08-18,0.07,1,362
15819,12797684,NaN,69715276,Yan,Manhattan,Upper West Side,40.79843,-73.96404,Private room,100,1,0,NaT,NaN,2,0
16071,12988898,NaN,71552588,Andrea,Bronx,Fordham,40.86032,-73.88493,Shared room,130,1,0,NaT,NaN,1,365
18047,14135050,NaN,85288337,Jeff,Brooklyn,Bedford-Stuyvesant,40.69421,-73.93234,Private room,70,3,0,NaT,NaN,1,0
28889,22275821,NaN,49662398,Kathleen,Brooklyn,Bushwick,40.69546,-73.92741,Entire home/apt,110,4,5,2018-08-13,0.27,1,0

Apply an outlier-handling strategy

In [125]:
# Step 1: Compute counts per minimum_nights value
min_counts = df['minimum_nights'].value_counts()

# Step 2: Keep only minimum_nights with count >= 100
valid_min_nights = min_counts[min_counts >= 100].index

# Step 3: Filter the dataframe
df = df[df['minimum_nights'].isin(valid_min_nights)].copy()

## D. Enriching

Create at least 3 new variables:
- price_per_minimum_night
- review_rate_per_month (combine ratings + frequency)
- is_expensive (boolean flag based on price threshold)

In [126]:
df['price_per_minimum_night']=df['price'] / df['minimum_nights']
df['review_rate_per_month']=df['number_of_reviews'] * df['reviews_per_month']
df['is_expensive']=df['price'] > 500

In [127]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price_per_minimum_night,review_rate_per_month,is_expensive
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,149.0,1.89,False
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,225.0,17.10,False
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaT,NaN,1,365,50.0,NaN,False
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194,89.0,1252.80,False
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0,8.0,0.90,False

Create 1 aggregated summary table

(e.g. average price per neighborhood, number of hosts per borough)

In [128]:
import pandas as pd

# Example aggregated summary table
summary = df.groupby('neighbourhood').agg(
    average_price=('price', 'mean'),             # Average price per neighborhood
    number_of_hosts=('host_id', 'nunique'),      # Number of unique hosts per neighborhood
    total_listings=('id', 'count')               # Total number of listings per neighborhood
).reset_index()

# Sort by average price descending
summary = summary.sort_values(by='average_price', ascending=False)

summary

,neighbourhood,average_price,number_of_hosts,total_listings
82,Fort Wadsworth,800.000000,1,1
219,Woodrow,700.000000,1,1
174,Sea Gate,487.857143,5,7
197,Tribeca,456.798851,134,174
167,Riverdale,442.090909,9,11
157,Prince's Bay,409.500000,4,4
6,Battery Park City,370.292308,58,65
75,Flatiron District,345.692308,75,78
161,Randall Manor,336.000000,12,19
144,NoHo,295.717949,66,78
178,SoHo,287.929775,300,356
127,Midtown,282.633202,964,1524
139,Neponsit,274.666667,3,3
92,Greenwich Village,267.589333,349,375
209,West Village,265.395225,685,754
34,Chelsea,253.055089,875,1071
215,Willowbrook,249.000000,1,1
191,Theater District,248.971930,137,285
145,Nolita,231.213710,221,248
115,Little Italy,226.709402,95,117
73,Financial District,225.973829,360,726
86,Gramercy,224.515060,290,332
137,Murray Hill,221.968750,273,480
21,Breezy Point,213.333333,2,3
43,Cobble Hill,211.929293,93,99
25,Brooklyn Heights,211.549669,145,151
202,Upper West Side,211.475919,1549,1931
112,Kips Bay,204.074074,365,459
95,Hell's Kitchen,203.948758,1344,1932
53,DUMBO,199.764706,30,34
37,Civic Center,195.320000,48,50
201,Upper East Side,190.188102,1383,1765
64,East Village,185.659116,1585,1810
204,Vinegar Hill,183.757576,31,33
106,Jamaica Estates,182.947368,16,19
41,Clinton Hill,182.023132,484,562
184,Spuyten Duyvil,180.000000,3,3
129,Mill Basin,179.750000,4,4
151,Park Slope,177.079430,447,491
119,Lower East Side,176.683091,759,893
31,Carroll Gardens,176.245690,207,232
19,Boerum Hill,176.022989,153,174
158,Prospect Heights,173.876791,305,349
36,City Island,173.000000,16,18
3,Arverne,171.779221,62,77
14,Belle Harbor,171.500000,7,8
188,Stuyvesant Town,169.638889,35,36
193,Todt Hill,169.000000,3,4
71,Far Rockaway,165.862069,20,29
35,Chinatown,163.372549,321,357
45,Columbia St,162.952381,38,42
93,Grymes Hill,159.142857,7,7
11,Bayside,157.948718,27,39
114,Lighthouse Hill,157.500000,2,2
85,Gowanus,154.553279,199,244
176,Shore Acres,152.714286,7,7
80,Fort Greene,151.665975,399,482
138,Navy Yard,151.642857,14,14
57,Downtown Brooklyn,150.862500,75,80
7,Bay Ridge,146.802920,113,137
182,South Slope,146.548043,241,281
162,Red Hook,145.105263,70,76
91,Greenpoint,145.070845,865,1101
195,Tottenville,144.857143,6,7
214,Williamsburg,143.887763,3316,3849
8,Bay Terrace,142.000000,5,6
65,Eastchester,141.692308,2,13
69,Eltingville,141.666667,3,3
33,Castleton Corners,139.750000,4,4
216,Windsor Terrace,138.051613,134,155
199,Unionport,137.142857,6,7
98,Holliswood,135.750000,4,4
61,East Harlem,134.041933,880,1097
168,Rockaway Beach,133.309091,46,55
23,Brighton Beach,132.797297,58,74
107,Jamaica Hills,132.125000,6,8
49,Coney Island,129.625000,10,16
52,Cypress Hills,128.903704,91,135
117,Long Island City,127.801512,436,529
198,Two Bridges,127.028169,63,71
76,Flatlands,122.926829,65,82
210,Westchester Square,122.200000,7,10
208,West Farms,122.000000,2,2
94,Harlem,118.977871,2085,2621
186,St. George,118.531915,36,47
101,Huguenot,118.333333,2,3
99,Howard Beach,115.400000,15,20
2,Arrochar,115.000000,10,21
130,Morningside Heights,114.917404,302,339
110,Kew Gardens Hills,114.200000,22,25
169,Roosevelt Island,114.157895,67,76
203,Van Nest,113.818182,7,11
39,Clason Point,112.761905,14,21
170,Rosebank,111.857143,7,7
51,Crown Heights,111.518158,1283,1542
159,Prospect-Lefferts Gardens,111.061069,434,524
125,Middle Village,109.580645,24,31
190,Sunset Park,108.452632,303,380
79,Forest Hills,107.578571,100,140
212,Whitestone,107.545455,8,11
13,Bedford-Stuyvesant,106.923602,2747,3665
18,Bergen Beach,106.700000,10,10
175,Sheepshead Bay,106.537037,116,162
22,Briarwood,105.875000,36,56
60,East Flatbush,105.000000,317,491
153,Pelham Bay,105.000000,15,17
4,Astoria,104.505108,732,881
30,Canarsie,104.367347,100,147
120,Manhattan Beach,103.500000,7,8
9,"Bay Terrace, Staten Island",102.500000,2,2
140,New Brighton,101.800000,4,5
185,St. Albans,100.828947,50,76
90,Great Kills,100.600000,7,10
100,Howland Hook,100.000000,2,2
83,Fresh Meadows,99.500000,20,32
15,Bellerose,99.357143,11,14
187,Stapleton,98.962963,19,27
213,Williamsbridge,96.750000,27,40
105,Jamaica,95.770563,138,231
54,Ditmars Steinway,95.764901,248,302
113,Laurelton,95.333333,13,18
67,Edgemere,94.727273,9,11
122,Mariners Harbor,94.625000,8,8
62,East Morrisania,94.444444,5,9
183,Springfield Gardens,94.235294,49,85
81,Fort Hamilton,94.188679,46,53
108,Kensington,93.835294,138,170
154,Pelham Gardens,93.607143,23,28
77,Flushing,93.514085,209,426
58,Dyker Heights,93.416667,10,12
74,Flatbush,92.584691,515,614
118,Longwood,91.919355,49,62
126,Midland Beach,91.833333,6,6
192,Throgs Neck,91.041667,17,24
84,Glendale,90.528302,44,53
156,Port Richmond,90.111111,5,9
206,Washington Heights,89.954545,749,880
180,South Beach,89.250000,7,8
121,Marble Hill,89.166667,10,12
103,Inwood,89.072289,210,249
134,Mott Haven,88.916667,48,60
97,Hollis,88.642857,10,14
44,College Point,88.000000,18,19
0,Allerton,87.595238,27,42
12,Bayswater,87.470588,15,17
38,Claremont Village,87.464286,21,28
164,Richmond Hill,86.666667,59,93
47,Concourse,86.180000,42,50
63,East New York,85.658986,129,217
205,Wakefield,85.580000,41,50
109,Kew Gardens,85.413793,21,29
220,Woodside,85.320513,147,234
150,Ozone Park,85.274194,49,62
189,Sunnyside,85.136872,263,358
28,Bushwick,85.044856,1875,2430
40,Clifton,84.933333,9,15
160,Queens Village,83.933333,48,60
123,Maspeth,83.770642,76,109
163,Rego Park,83.647619,78,105
133,Morrisania,83.444444,14,18
124,Melrose,83.300000,10,10
146,North Riverdale,83.222222,7,9
207,West Brighton,82.941176,9,17
56,Douglaston,82.750000,6,8
181,South Ozone Park,82.400000,23,40
66,Edenwald,82.000000,11,13
5,Bath Beach,81.764706,13,17
29,Cambria Heights,81.730769,22,26
104,Jackson Heights,81.213115,132,183
148,Oakwood,81.200000,3,5
59,East Elmhurst,81.183784,114,185
89,Gravesend,80.621212,43,66
68,Elmhurst,80.459916,143,237
128,Midwood,80.150943,92,106
155,Port Morris,79.891304,26,46
55,Dongan Hills,79.428571,5,7
136,Mount Hope,78.684211,17,19
111,Kingsbridge,78.376812,55,69
165,Richmondtown,78.000000,1,1
42,Co-op City,77.500000,2,2
16,Belmont,77.125000,19,24
26,Brownsville,77.000000,47,60
131,Morris Heights,76.941176,15,17
166,Ridgewood,76.907990,321,413
194,Tompkinsville,76.190476,25,42
143,New Springville,76.000000,6,8
17,Bensonhurst,75.972973,54,74
147,Norwood,75.548387,30,31
10,Baychester,75.428571,5,7
116,Little Neck,75.200000,4,5
72,Fieldston,75.083333,11,12
172,Rossville,75.000000,1,1
48,Concourse Village,73.781250,31,32
171,Rosedale,71.982759,37,58
211,Westerleigh,71.500000,2,2
96,Highbridge,71.153846,18,26
177,Silver Lake,70.000000,2,2
78,Fordham,69.838710,39,62
200,University Heights,69.571429,14,21
132,Morris Park,69.333333,9,15
173,Schuylerville,69.230769,7,13
152,Parkchester,69.052632,28,38
87,Graniteville,68.666667,3,3
70,Emerson Hill,68.200000,5,5
217,Woodhaven,67.540230,44,87
1,Arden Heights,67.250000,4,4
149,Olinville,64.000000,4,4
32,Castle Hill,63.000000,3,9
20,Borough Park,62.253731,73,134
218,Woodlawn,60.090909,9,11
50,Corona,59.854839,35,62
135,Mount Eden,58.500000,6,6
46,Concord,58.192308,10,26
88,Grant City,57.666667,3,6
142,New Dorp Beach,57.400000,4,5
24,Bronxdale,57.105263,18,19
141,New Dorp,57.000000,1,1
179,Soundview,53.466667,10,15
196,Tremont,51.545455,8,11
102,Hunts Point,50.500000,8,18
27,Bull's Head,47.333333,3,6

## E. Validating

Create at least 3 validation checks
- Price must be positive.
- Host ID should not be null.
- Minimum nights must be ≥ 1.
- Generate a validation report:
- Count of rows violating each rule.

Decide if invalid rows (if any) should be removed or corrected?

In [129]:
import pandas as pd

# Validation checks
price_invalid = df[df['price'] <= 0]
host_id_invalid = df[df['host_id'].isnull()]
min_nights_invalid = df[df['minimum_nights'] < 1]

# Validation report: count of violations
validation_report = pd.DataFrame({
    'Rule': [
        'Price must be positive',
        'Host ID should not be null',
        'Minimum nights must be >= 1'
    ],
    'Violations': [
        price_invalid.shape[0],
        host_id_invalid.shape[0],
        min_nights_invalid.shape[0]
    ]
})

print(validation_report)

                          Rule  Violations
0       Price must be positive           0
1   Host ID should not be null           0
2  Minimum nights must be >= 1           0

## F. Publishing

Select final columns for publication.

In [130]:
df = df[['name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'room_type', 'minimum_nights', 'price_per_minimum_night', 'review_rate_per_month', 'is_expensive']]

Export cleaned dataset as "cleaned_airbnb.csv"

In [131]:
df = df.to_csv('cleaned_airbnb.csv', index=False)

Export summary reports (e.g., validation or aggregations) as CSV.

In [132]:
df = summary.to_csv('summary_report.csv', index=False)